html{
  margin: 0;
  padding: 0;
}

section,form{
  /*border: 1px solid black;*/
  padding: 6px;
  margin: 1px;
}

nav{
  /*border: 1px solid black;*/
  background-color: #f1f6f5;
  height: 20pt;
  padding-top: 6px;
}

nav span{
  padding-left: 6px;
  padding-right: 6px;
}

h1{
  margin: 0px;
}

a,a span{
  margin-left: 6px;
  margin-right: 6px;
}

label{
  margin: 3px;
}

.navlink{
  display: inline;
}

.navlink a{
  color: black;
  text-decoration: none;
}

/*No elements*/
.info{
  font-style: italic;
  color: gray;
}

.right{
  float: right;
}

.multiline{
  width: 99%;
  min-height: 150px;
}

.navlink, .button, .templateResult{
  -webkit-transition: background-color 1s, box-shadow 1s;
  transition: background-color 1s, box-shadow 1s;
}

.navlink a,.button, .templateResult a{
  color: black;
  text-decoration: none;
}

.navlink,.navlink a:visited, .button:link,.button:visited{
  background-color: #c1cad6;
  font-style: italic;
}

.navlink:hover,.button:hover{
  background-color: #86e7b8;
  font-style: bold;
}

.navlink:active,.button:active{
  background-color: #b2ffa8;
  font-style: bold;
}

.templateResult,.templateResult:visited{
  background-color: #f1f6f5;
  margin: 6px 6px 6px 6px;
}

.nameAndCategory,.nameAndCategory:visited{
  background-color: #c1cad6;
}

.templateResult:hover{
  background-color: #b2ffa8;
}

.templateResult:hover .nameAndCategory{
  background-color: #86e7b8;
}

.navlink,.button,.templateResult{
  box-shadow: 3px 3px 5px #cccccc;
}

.navlink:hover,.button:hover,.templateResult:hover{
  box-shadow: 3px 3px 10px #999999;
}

.saveResult{
  margin-top: 3px;
  margin-bottom: 3px;
}

.errorDisp{
  height: 0;
  width: auto;
  max-width: 500px;
  
  border: 1px solid #cccccc;
  background-color: #f1f6f5;
  overflow-y: hidden;
  
  -webkit-transition: height 2s;
  transition: height 2s;
}

#templateMenu{
  width: 19%;
  float: right;
  min-height: 500px;
  height: 100%;
  vertical-align: text-top;
  background-color: #eaeaea;
  border-left: 1px solid black;
  box-decoration-break: -3px 0px 5px #CCCCCC;
}

#templateMenu input{
  width: 95%;
}

#templateView{
  width: 79%;
  margin-right: 0px;
  display: inline;
  float: left;
}

#templateInfo{
  display: none;
}

#loadForm{
  border-top: 1px solid #999999;
}

#content{
  width: 99%;
}