html{
  margin: 0;
  padding: 0;
}

section,form{
  border: 1px solid black;
  padding: 6px;
  margin: 1px;
}

nav{
  border: 1px solid black;
}

h1{
  margin: 0px;
}

a,a span{
  margin-left: 6px;
  margin-right: 6px;
}


.navlink{
  display: inline;
}

.navlink a{
  color: black;
  text-decoration: none;
}

/*No elements*/
.info{
  font-style: italic;
  color: gray;
}

.right{
  float: right;
}

.multiline{
  width: 99%;
  min-height: 150px;
}

/*
.uppercased{
  text-transform: capitalize;
}
*/

.navlink a,.listItem, .templateResult{
  color: black;
  text-decoration: none;
}

.navlink,.navlink a:visited, .listItem:link,.listItem:visited{
  background-color: lightblue;
  font-style: italic;
}

.navlink:hover,.listItem:hover{
  background-color: lightskyblue;
  font-style: bold;
}

.navlink,.gameResult,.templateResult{
  box-shadow: 5px 5px 5px #CCCCCC;
}

.navlink:hover,.gameResult:hover,.templateResult:hover{
  box-shadow: 5px 5px 10px #999999;
}

#templateMenu{
  width: 18%;
  float: right;
  min-height: 500px;
}

#content{
  /*width: 80%;*/
  width: 99%;
  min-height: 500px;
}